#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q         &kp W         &kp E     &kp R        &kp T                                                 &kp Y        &kp U  &kp I     &kp O         &kp P
&kp A         &kp S         &kp D     &kp F        &kp G                 &kp GRAVE        &kp ESC        &kp H        &kp J  &kp K     &kp L         &mkp MB4
&kp Z         &kp X         &kp C     &kp V        &kp B                 &kp TAB          &kp DELETE     &kp N        &kp M  &mkp MB1  &lt 2 PERIOD  &mkp MB2
&lt 6 ESCAPE  &kp LEFT_WIN  &kp LALT  &lt 6 SPACE  &mt LEFT_SHIFT SPACE  &lt 3 SPACE      &kp BACKSPACE  &lt 4 ENTER                                 &mkp MB5
            >;
        };

        MOUSE {
            bindings = <
&trans     &trans        &trans            &trans          &trans                      &trans     &trans  &trans    &trans        &trans
&trans     &trans        &trans            &trans          &trans  &trans      &trans  &trans     &trans  &trans    &trans        &mkp MB4
&trans     &trans        &trans            &trans          &trans  &trans      &trans  &trans     &trans  &mkp MB1  &lt 2 PERIOD  &mkp MB2
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &trans  &trans      &trans  &kp ENTER                                  &mkp MB5
            >;
        };

        SCROLL {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans                      &trans  &trans  &trans     &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans     &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp LCTRL  &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans                             &trans
            >;
        };

        ARROW {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2            &kp NUMBER_3  &kp NUMBER_4             &kp NUMBER_0                                   &kp ESCAPE        &trans           &kp LS(N8)         &kp LEFT_PARENTHESIS  &trans
&kp TAB       &kp LA(LG(LEFT_ARROW))  &kp LG(LEFT)  &kp LG(LA(RIGHT_ARROW))  &kp LEFT_BRACKET   &trans       &kp ESCAPE     &kp QUESTION      &kp EXCLAMATION  &kp RIGHT_BRACKET  &kp BACKSLASH         &kp COLON
&kp LCMD      &kp LG(LS(LEFT_ARROW))  &trans        &kp LG(LS(RIGHT_ARROW))  &kp RIGHT_BRACKET  &kp TAB      &kp DELETE     &kp LEFT_BRACKET  &kp AT_SIGN      &kp COMMA          &kp PERIOD            &kp MINUS
&trans        &trans                  &trans        &trans                   &trans             &trans       &kp BACKSPACE  &kp ENTER                                                                   &kp SLASH
            >;
        };

        NUM {
            bindings = <
&kp TAB  &kp PLUS      &kp N7        &kp N8        &kp N9                               &kp ESC          &kp F4          &kp PRINTSCREEN  &kp F11          &kp F12
&trans   &kp MINUS     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp GRAVE      &trans  &kp EXCLAMATION  &kp F2          &kp UP_ARROW     &kp F4           &kp LC(V)
&trans   &kp ASTERISK  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp TAB        &trans  &kp NUMBER_0     &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp LC(C)
&trans   &trans        &trans        &trans        &kp N0        &kp SPACE      &trans  &kp LEFT_SHIFT                                                     &kp LC(Z)
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &kp F12
            >;
        };

        layer_6 {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_4                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans        &trans        &trans        &trans        &trans
&kp LG(Z)     &kp LG(X)     &kp LG(C)     &kp LG(V)     &trans        &trans      &trans  &trans        &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans                                                  &trans
            >;
        };
    };
};
